<ActionBar [title]="title" class="action-bar">
    <NavigationButton
    android.systemIcon="ic_menu_back"
    text="Zurück"
    (tap)="navigateBack()"
    ></NavigationButton>
    <!-- Sidedrawer for Android requires the Navigation btn. iOS an ActionItem -->
    <!-- TODO: Position Right not working on Android -->
    <NavigationButton
    *ngIf="android"
    android.position="right"
    icon="res://hamburger"
    (tap)="onToggleMenu()"
    ></NavigationButton>
    <ActionItem
    *ngIf="!android"
    ios.position="right"
    icon="res://hamburger"
    (tap)="onToggleMenu()">
    </ActionItem>
</ActionBar>