<ActionBar [title]="title" class="action-bar">
    <NavigationButton
    android.systemIcon="ic_menu_back"
    text="Zurück"
    (tap)="navigateBack()"
    ></NavigationButton>
    <!-- Sidedrawer for Android requires the Navigation btn. iOS an ActionItem -->
    <NavigationButton
    *ngIf="android"
    icon="res://menu_black"
    (tap)="onToggleMenu()"
    ></NavigationButton>
    <ActionItem *ngIf="!android" ios.position="right" (tap)="onToggleMenu()">
        <Label text="MENU"></Label>
    </ActionItem>
</ActionBar>