<ns-action-bar title="Feedback"></ns-action-bar>
<GridLayout>
    <StackLayout visibility="{{ loading ? 'visible' : 'collapsed' }}" verticalAlignment="center">
        <ActivityIndicator class="m-t-20" rowSpan="3" busy="true"></ActivityIndicator>
    </StackLayout>
    <StackLayout *ngIf="!loading && presentation && userFeedbackForm">
        <ScrollView height="100%">

            <StackLayout class="m-15">
                <Label [text]="presentationTitle" class="h2 m-b-10" textWrap="true"></Label>

                <PreviousNextView>
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" class="grid-item">
                            <Label text="Ihr Name (optional):"></Label>
                            <TextField #handle class="grid-input" hint="Name" autocorrect="false"
                                [(ngModel)]="feedback.handle" returnKeyType="next"
                            ></TextField>
                        </StackLayout>
                        
                        <StackLayout row="1" class="grid-item">
                            <Label text="Was hat Ihnen gefallen?"></Label>
                            <StackLayout>
                                    <MDTextField>
                                
                                        </MDTextField>
                            </StackLayout>

                            <TextView #comment_positive class="grid-input multiline" hint="Positives Feedback"
                                [(ngModel)]="feedback.comment_positive" returnKeyType="next"
                            ></TextView>
                        </StackLayout>

                        <StackLayout row="2" class="grid-item">
                            <Label text="Was halten Sie für verbesserungswürdig?"></Label>
                            <TextView #comment_negative class="grid-input multiline" hint="Negatives Feedback"
                                [(ngModel)]="feedback.comment_negative" returnKeyType="next"
                            ></TextView>
                        </StackLayout>

                        <StackLayout row="3" class="grid-item">
                            <Label text="Ihre Bewertung"></Label>
                            <Slider [(ngModel)]="feedback.grade" minValue="1" maxValue="10"></Slider>
                        </StackLayout>

                        <Button row="4" class="btn btn-primary m-t-20" (tap)="incr();" text="Feedback einreichen"></Button>
                    </GridLayout>
                </PreviousNextView>
            </StackLayout>
            <StackLayout *ngIf="false" class="m-x-10">
                <Label text="Feedback" class="h1 m-y-10" textWrap="true"></Label>
                <Label text="{{ presentationTitle }}" class="h2 m-b-10" textWrap="true"></Label>
                <RadDataForm
                tkExampleTitle
                tkToggleNavButton
                [source]="userFeedbackForm"
                (editorUpdate)="dfEditorUpdate($event)">
                    <TKEntityProperty
                    tkDataFormProperty 
                    name="handle"
                    displayName="Besuchername"
                    index="0"
                    hintText="Ihr Name (freiwillig)"
                    ></TKEntityProperty>
                    <TKEntityProperty tkDataFormProperty name="grade" displayName="Bewertung (1 – 10)" index="1">
                        <TKPropertyEditor tkEntityPropertyEditor type="Stepper">
                            <TKPropertyEditorParams tKEditorParams minimum="1" maximum="10" step="1"></TKPropertyEditorParams>
                            <TKPropertyEditorStyle tkPropertyEditorStyle valuePosition="Left"></TKPropertyEditorStyle>
                        </TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty
                    tkDataFormProperty
                    name="comment_positive"
                    displayName="Das fand ich gut"
                    index="2"
                    hintText="Ihr Feedback">
                        <TKPropertyEditor tkEntityPropertyEditor type="MultilineText"></TKPropertyEditor>
                    </TKEntityProperty>
                    <TKEntityProperty
                    tkDataFormProperty
                    name="comment_negative"
                    displayName="Das fand ich verbesserungswürdig"
                    index="3"
                    hintText="Ihr Feedback">
                        <TKPropertyEditor tkEntityPropertyEditor type="MultilineText"></TKPropertyEditor>
                    </TKEntityProperty>
                </RadDataForm>
                <Button
                (tap)="onUserFeedbackSubmit($event)"
                class="btn btn-primary m-t-20"
                text="Feedback einreichen"
                ></Button>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</GridLayout>