/* https://docs.nativescript.org/ui/professional-ui-components/DataForm/dataform-styling */

PropertyEditor {
    color: #1c7272;
    margin: 10 0 10 0;
    font-size: 14;
}

EntityProperty[name='name'] {
    font-size: 14;
    font-weight: 500;
}

PropertyEditor[type='Stepper'] DataFormEditorCore {
    font-weight: bold;
    font-size: 18;
}


.grid-item {
    margin: 5;
    padding: 5;
}

.grid-input {
    font-size: 18;
    margin: 0;
}

.grid-input.multiline {
    min-height: 100;
}

.slider-box {
    margin: 20 10 20 10;
}