<ns-action-bar title="Feedback"></ns-action-bar>
<GridLayout>
    <StackLayout visibility="{{ loading ? 'visible' : 'collapsed' }}" verticalAlignment="center">
        <ActivityIndicator class="m-t-20" rowSpan="3" busy="true"></ActivityIndicator>
    </StackLayout>
    <StackLayout *ngIf="!loading && presentation">
        <ScrollView height="100%">
            <StackLayout class="m-15">
                <Label [text]="presentationTitle" class="h2 m-10" textWrap="true"></Label>

                <PreviousNextView>
                    <GridLayout rows="auto, auto, auto, auto, auto">
                        <StackLayout row="0" class="grid-item">
                            <Label text="Ihr Name (optional):"></Label>
                            <TextField #handle class="grid-input" hint="Name" autocorrect="false"
                                [(ngModel)]="feedback.handle" returnKeyType="next"
                            ></TextField>
                        </StackLayout>
                        
                        <StackLayout row="1" class="grid-item">
                            <Label text="Was hat Ihnen gefallen?"></Label>
                            <TextView #comment_positive class="grid-input multiline" hint="Positives Feedback"
                                [(ngModel)]="feedback.comment_positive" returnKeyType="next"
                            ></TextView>
                        </StackLayout>

                        <StackLayout row="2" class="grid-item">
                            <Label text="Was halten Sie für verbesserungswürdig?"></Label>
                            <TextView #comment_negative class="grid-input multiline" hint="Negatives Feedback"
                                [(ngModel)]="feedback.comment_negative" returnKeyType="next"
                            ></TextView>
                        </StackLayout>

                        <StackLayout row="3" class="grid-item">
                            <Label text="Ihre Bewertung"></Label>
                            <GridLayout columns="auto, *, auto" rows="auto, auto" class="slider-box">
                                <Label row="0" col="0" text="1"></Label>
                                <Slider row="0" col="1" (valueChange)="onSliderValueChange($event)" minValue="1" maxValue="10"></Slider>
                                <Label row="0" col="2" text="10"></Label>
                                <Label row="1" col="1" *ngIf="feedback.grade != 0" textAlignment="center"><FormattedString>
                                    <Span fontWeight="bold" [text]="feedback.grade"></Span>
                                    <Span text=" ~ "></Span>
                                    <Span [text]="gradeDescription"></Span>
                                </FormattedString></Label>
                            </GridLayout>
                            
                        </StackLayout>

                        <Button row="4" class="btn btn-primary m-t-20" (tap)="onSubmitFeedback();" text="Feedback einreichen"></Button>
                    </GridLayout>
                </PreviousNextView>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</GridLayout>