<!-- Homescreen displays a custom actionbar with logo and no backbutton -->
<ActionBar class="action-bar">
    <StackLayout orientation="horizontal">
        <Ripple borderRadius="30"><Image src="~/images/fdn_logo.png" class="home-icon"></Image></Ripple> 
        <Image src="~/images/fdn_logo.png" class="home-icon"></Image>
        <Image src="~/images/fdn_logo.png" class="home-icon"></Image>
        <Image src="~/images/fdn_logo.png" class="home-icon"></Image>
        <Image src="~/images/fdn_logo.png" class="home-icon"></Image>
    </StackLayout>
    <ActionItem
    ios.position="right"
    android.position="right"
    icon="res://hamburger"
    (tap)="onToggleMenu()">
    </ActionItem>
</ActionBar>
<TabView
#tabview
[selectedIndex]="tabindex"
class="tab-view"
tabTextFontSize="14"
selectedIndex="1"
androidTabsPosition="bottom">
    <StackLayout *tabItem="{ title: 'Bisherige  Events' }" textWrap="true">
        <ns-event-list [archive]="true"></ns-event-list>
    </StackLayout>
    <StackLayout *tabItem="{ title: 'Kommende  Events'}" textWrap="true">
        <ns-event-list></ns-event-list>
    </StackLayout>
</TabView>
