<ns-action-bar [title]="fullName"></ns-action-bar>
<GridLayout>
  <StackLayout visibility="{{ loading ? 'visible' : 'collapsed' }}" verticalAlignment="center">
    <ActivityIndicator class="m-t-20" rowSpan="3" busy="true"></ActivityIndicator>
  </StackLayout>
  <StackLayout *ngIf="!loading && speaker">
    <ScrollView height="100%">
      <StackLayout>
        <StackLayout class="m-x-10">
          <Image [src]="imagePath" class="m-b-10 speaker-img" stretch="aspectFill"></Image>
          <Label [text]="fullName" class="h1 text-center" textWrap="true"></Label>
          <Label [text]="position" class="h3 text-center" textWrap="true"></Label>
          <Label [text]="organization" class="h3 text-center company" textWrap="true"></Label>
          <Label *ngIf="!isFormattedShortBioAvailable" [text]="shortBio" class="body m-y-20" textWrap="true"></Label>
          <HtmlView
            *ngIf="isFormattedShortBioAvailable"
            nsFixHtmlView
            [html]="formattedShortBio"
            class="body m-y-20 htmlview"
          ></HtmlView>
        </StackLayout>
        <StackLayout *ngFor="let p of speaker.presentations">
          <GridLayout
            columns="*, auto"
            rows="auto, auto, auto"
            class="occasion-item"
            orientation="vertical"
            (tap)="onPresentationTap(p.id)"
          >
            <Label col="0" row="0" class="h4" textWrap="true" [text]="p.title"></Label>
            <Label
              col="0"
              row="1"
              class="body"
              textWrap="true"
              [text]="getEventInfo(p)"
            ></Label>
            <Label
              col="0"
              row="2"
              class="body"
              textWrap="true"
              [text]="getStartTime(p.start) + concatRoom(p.room)"
            ></Label>
            <Label
              text="&#xf054;"
              col="1"
              rowspan="2"
              class="fa ic-arrow-right goright-icon"
              horizontalAlignment="center"
            ></Label>
          </GridLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</GridLayout>
