<RadSideDrawer drawerLocation="Right">
    <StackLayout tkDrawerContent class="drawer-wrapper sidedrawer-container">
        <Button
        class="btn btn-primary btn-sidedrawer m-t-15 "
        text="Alle Events"
        (tap)="onDrawerBtnTap('home')"
        [clearHistory]="true"
        ></Button>
        <Button
        class="btn btn-primary btn-sidedrawer"
        text="Kontakt"
        (tap)="onDrawerBtnTap('fdn')"
        ></Button>
        <Button
        class="btn btn-primary btn-sidedrawer"
        text="Einstellungen"
        (tap)="onDrawerBtnTap('settings')"
        ></Button>
    </StackLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>