<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789245829724-uleenutvu17nu1lvsudamg58i2r1o51b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789245829724-uleenutvu17nu1lvsudamg58i2r1o51b</string>
	<key>API_KEY</key>
	<string>AIzaSyBuEJ4rYKXzerjAOF_-h-Wu1_Xy5Y0eg2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>789245829724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.digisus.events</string>
	<key>PROJECT_ID</key>
	<string>fdn-event-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fdn-event-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789245829724:ios:86231bcfd93ba62e7b7c99</string>
	<key>DATABASE_URL</key>
	<string>https://fdn-event-app.firebaseio.com</string>
</dict>
</plist>