<ns-action-bar title="Einstellungen"></ns-action-bar>
<StackLayout>
    <ScrollView height="100%">
        <StackLayout class="m-10">
            <Label class="h3" text="Benachrichtigungen"></Label>
            <Label text="Legen Sie fest, welche Benachrichtigungen Sie von uns erhalten möchten." textWrap="true"></Label>
            <ActivityIndicator [busy]="loading"></ActivityIndicator>
            <GridLayout *ngFor="let topic of topics" rows="auto,auto" columns="*, auto" class="m-y-10">
                <Label row="0" col="0" class="switch-text" [text]="topic.title"></Label>
                <Switch row="0" col="1" [isEnabled]="!loading" [checked]="isSubscribed(topic)" (checkedChange)="onToggleSwitch($event, topic)"></Switch>
                <Label row="1" col="0" [text]="topic.description" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>

