<ActionBar [title]="title" class="action-bar">
    <NavigationButton
    *ngIf="canGoBack()"
    android.systemIcon="ic_menu_back"
    text="Zurück"
    (tap)="navigateBack()"
    ></NavigationButton>
    <!-- Sidedrawer for Android requires the Navigation btn. iOS an ActionItem -->
    <!-- TODO: Position Right not working on Android -->
    <!-- <NavigationButton
    *ngIf="android"
    android.position="popup"
    icon="res://hamburger"
    (tap)="onToggleMenu()"
    ></NavigationButton> -->
    <!-- *ngIf="!android" -->
    <ActionItem
    ios.position="right"
    android.position="right"
    icon="res://hamburger"
    (tap)="onToggleMenu()">
    </ActionItem>
</ActionBar>