<StackLayout visibility="{{ loading ? 'visible' : 'collapsed' }}" verticalAlignment="center">
    <ActivityIndicator class="m-t-20" rowSpan="3" busy="true"></ActivityIndicator>
</StackLayout>
<StackLayout *ngIf="!loading && events">
    <GridLayout tkExampleTitle tkToggleNavButton>
        <RadListView [items]="events" (itemTap)="onEventTap($event.view.bindingContext)">
            <ng-template tkListItemTemplate let-event="item">
                <CardView class="card" margin="10" elevation="10" radius="10" ios:shadowRadius="3" android:elevation="6">
                    <StackLayout class="card-layout" orientation="vertical">
                        <Image [src]="event.image_path" height="150" class="m-b-10" stretch="aspectFill"></Image>
                        <StackLayout class="p-b-20 p-x-20">
                            <Label class="h2" textWrap="true" [text]="event.title"></Label>
                            <Label class="h4 m-b-0" [text]="displayEventInfo(event.start)" textWrap="true"></Label>
                            <Label class="h4 m-b-15 m-t-0 location" [text]="event.location" textWrap="true"></Label>
                            <Label *ngIf="!event.formatted_description" class="body" textWrap="true" [text]="event.description"></Label>
                            <HtmlView *ngIf="event.formatted_description" (tap)="onEventTap(event)" class="body htmlview" [html]="event.formatted_description"></HtmlView>
                        </StackLayout>
                    </StackLayout>
                </CardView>
            </ng-template>
        </RadListView>
    </GridLayout>
</StackLayout>